@import './normalize.styl'
@import 'nib';

body
	font-size: 16px;
	color: black;

a
	text-decoration:none;
	color: inherit;

.Contenedor
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

.Header
	&-nav
		ul
			margin: 0;
			padding: 0;
			li
				padding: 1em 0;
				list-style: none;
				text-align: center;
	&-menu
		text-align: center;
	&-logo
		padding: 1.5em 0;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		figure
			margin: 0 auto;
			width: 2em;
			height: 2em;
			background: black;

.Contenido
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	&-ficha
		position: relative;
		width: 10em;
		height: 10em;
		background: red;
		margin-top: 1em;
		img
			width: 100%;
			height: 100%;
		p
			color: transparent;
			position: absolute;
			bottom: 0;
		&:hover
			cursor:pointer;
		&:before
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			background: rgba(black,0.6);
			&
				pcolor:white;